<!DOCTYPE html>
<html>
<head>
    <!-- Favicon-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sotos Woodwork | Index</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/Scripts/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/Scripts/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Scripts/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Preloader Css -->
    <link href="~/Scripts/plugins/material-design-preloader/md-preloader.css" rel="stylesheet" />

    <!-- Bootstrap Select Css -->
    <link href="~/Scripts/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Content/css/themes/all-themes.css" rel="stylesheet" />

</head>
<body class="theme-yellow" ng-app="sotosApp">
    <div ng-controller="sotosController">
        <!-- Page Loader -->
        <div class="page-loader-wrapper" ng-show="http.pendingRequests.length > 0">
            <div class="loader">
                <div class="md-preloader pl-size-md">
                    <svg viewbox="0 0 75 75">
                        <circle cx="37.5" cy="37.5" r="33.5" class="pl-red" stroke-width="4" />
                    </svg>
                </div>
                <p>Aguarde...</p>
            </div>
        </div>
        <!-- #END# Page Loader -->
        <!-- Overlay For Sidebars -->
        <div class="overlay"></div>
        <!-- #END# Overlay For Sidebars -->
        <!-- Search Bar -->
        <div class="search-bar">
            <div class="search-icon">
                <i class="material-icons">search</i>
            </div>
            <input type="text" placeholder="START TYPING...">
            <div class="close-search">
                <i class="material-icons">close</i>
            </div>
        </div>
        <!-- #END# Search Bar -->
        <!-- Top Bar -->
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                    <a href="javascript:void(0);" class="bars"></a>
                    <a class="navbar-brand page-scroll">
                        <img style="margin-top: -20px;height: 60px;" src="~/content/images/logomarca.png">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Call Search -->
                        <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                        <!-- #END# Call Search -->
                        <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- #Top Bar -->

        <section>
            <!-- Left Sidebar -->
            <aside id="leftsidebar" class="sidebar">
                <!-- User Info -->
                <div class="user-info">
                    <div class="image">
                        <img src="~/Content/images/user.png" width="48" height="48" alt="User" />
                    </div>
                    <div class="info-container">
                        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Augusto Zvoboter</div>
                        <div class="email">augusto.zvoboter@sotos.com</div>
                        <div class="btn-group user-helper-dropdown">
                            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);"><i class="material-icons">person</i>Perfil</a></li>
                                <li role="seperator" class="divider"></li>
                                <li><a href="javascript:void(0);"><i class="material-icons">input</i>Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- #User Info -->
                <!-- Menu -->
                <div class="menu">
                    <ul class="list">
                        <li class="header">Menu</li>
                        <li ng-click="activetab = 'index';" ng-class="{'active' : activetab === 'index' || activetab === undefined}">
                            <a href="#">
                                <i class="material-icons">home</i>
                                <span>Início</span>
                            </a>
                        </li>
                        <li ng-click="activetab = 'clientes';" ng-class="{'active' : activetab === 'clientes'}">
                            <a href="#Pessoa">
                                <i class="material-icons">assignment_ind</i>
                                <span>Clientes</span>
                            </a>
                        </li>
                        <li ng-click="activetab = 'fornecedores';" ng-class="{'active' : activetab === 'fornecedores'}">
                            <a href="#Fornecedor">
                                <i class="material-icons">people</i>
                                <span>Fornecedores</span>
                            </a>
                        </li>
                        <li ng-click="activetab = 'produtos';" ng-class="{'active' : activetab === 'produtos'}">
                            <a href="#Produto">
                                <i class="material-icons">event_seat</i>
                                <span>Produtos</span>
                            </a>
                        </li>
                        <li ng-click="activetab = 'materiaprima';" ng-class="{'active' : activetab === 'materiaprima'}">
                            <a href="#">
                                <i class="material-icons">rowing</i>
                                <span>Matérias Primas</span>
                            </a>
                        </li>
                        <li ng-click="activetab = 'orcamento';" ng-class="{'active' : activetab === 'orcamento'}">
                            <a href="#">
                                <i class="material-icons">assignment</i>
                                <span>Orçamento de Venda</span>
                            </a>
                        </li>
                        <li ng-click="activetab = 'ordemproducao';" ng-class="{'active' : activetab === 'ordemproducao'}">
                            <a href="#">
                                <i class="material-icons">gavel</i>
                                <span>Ordem de Produção</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle">
                                <i class="material-icons">widgets</i>
                                <span>Produção</span>
                            </a>
                            <ul class="ml-menu">
                                <li ng-click="activetab = 'funcionarios';" ng-class="{'active' : activetab === 'funcionarios'}">
                                    <a href="#">
                                        <i class="material-icons">account_box</i>
                                        <span>Funcionários</span>
                                    </a>
                                </li>
                                <li ng-click="activetab = 'maquinas';" ng-class="{'active' : activetab === 'maquinas'}">
                                    <a href="#Maquina">
                                        <i class="material-icons">settings_applications</i>
                                        <span>Máquinas</span>
                                    </a>
                                </li>
                                <li ng-click="activetab = 'setores';" ng-class="{'active' : activetab === 'setores'}">
                                    <a href="#Setor">
                                        <i class="material-icons">account_balance</i>
                                        <span>Setores</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle">
                                <i class="material-icons">settings</i>
                                <span>Configurações Gerais</span>
                            </a>
                            <ul class="ml-menu">
                                <li ng-click="activetab = 'UnidadeMedida';" ng-class="{'active' : activetab === 'UnidadeMedida'}">
                                    <a href="#UnidadeMedida">
                                        <i class="material-icons">widgets</i>
                                        <span>Unidades de Medida</span>
                                    </a>
                                    <a href="#Grupo">
                                        <i class="material-icons">pregnant_woman</i>
                                        <span>Grupos de Clientes</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- #Menu -->
                <!-- Footer -->
                <div class="legal">
                    <div class="copyright">
                        &copy; @DateTime.Now.Year <a href="javascript:void(0);">Sotos Woodwork</a>.
                    </div>
                    <div class="version">
                        <b>Versão: </b> 1.0
                    </div>
                </div>
                <!-- #Footer -->
            </aside>
            <!-- #END# Left Sidebar -->
        </section>
        <section class="content">
            <div ng-view id="content" class="container-fluid">

            </div>
        </section>
    </div>

    <!-- Jquery Core Js -->
    <script src="~/Scripts/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/Scripts/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Angular Core Js -->
    <script src="~/Scripts/plugins/angular/angular.js"></script>

    <!-- Angular Route Core Js -->
    <script src="~/Scripts/plugins/angular-route/angular-route.min.js"></script>

    <!-- Select Plugin Js
    <script src="~/Scripts/plugins/bootstrap-select/js/bootstrap-select.js"></script>-->
    <!-- Slimscroll Plugin Js -->
    <script src="~/Scripts/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Bootstrap Colorpicker Js -->
    <script src="~/Scripts/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

    <!-- Dropzone Plugin Js -->
    <script src="~/Scripts/plugins/dropzone/dropzone.js"></script>

    <!-- Input Mask Plugin Js -->
    <script src="~/Scripts/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>

    <!-- Multi Select Plugin Js -->
    <script src="~/Scripts/plugins/multi-select/js/jquery.multi-select.js"></script>

    <!-- Jquery Spinner Plugin Js -->
    <script src="~/Scripts/plugins/jquery-spinner/js/jquery.spinner.js"></script>

    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="~/Scripts/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/Scripts/plugins/node-waves/waves.js"></script>

    <!-- Bootbox Core Js -->
    <script src="~/Scripts/plugins/bootbox/bootbox.min.js"></script>

    <!-- Sotos App Js -->
    <script src="~/Scripts/controller/sotosApp.js"></script>

    <!-- Custom Js -->
    <script src="~/Scripts/js/admin.js"></script>

    <!-- Demo Js -->
    <script src="~/Scripts/js/demo.js"></script>

    <!--<script>
        $(function () {
            $('.menu .list').click(function (e) {
                $('.menu .list li').removeClass('active');
                $(e.target).parentsUntil('ul').addClass('active');
            });
        });
    </script>-->

</body>
</html>