@using System.Web.Optimization;
@{
    ViewBag.Title = "Pessoa";
}
<!-- Exportable Table -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Listagem de Pessoas
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CPF/CNPJ</th>
                            <th>Grupo</th>
                            <th>Cidade</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <!--<tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>CPF/CNPJ</th>
                            <th>Grupo</th>
                            <th>Cidade</th>
                            <th>Status</th>
                        </tr>
                    </tfoot>-->
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        $(".menu .list li ").not(".header").removeClass("active");
        $("#pessoas").addClass("active");

        //Exportable table
        $('.js-exportable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            language: {
                url: "@Url.Content("~/Scripts/datatable-pt-br.json")"
            },
            ajax: {
                url: "@Url.Action("GetPessoas", "Pessoa")",
                dataSrc: ""
            },
            columns: [
                { data: 'Pes_nomefantasia' },
                { data: 'Pes_cpfcnpj' },
                { data: 'Sts_grupo.Grp_descricao' },
                { data: 'Sts_cidade.Cid_descricao' },
                { data: 'Pes_situacao' }
            ],
            columnDefs: [
                {
                    render: function (data, type, row) {
                        return (data == true) ? '<i class="material-icons col-teal">check_circle</i>' : '<i class="material-icons col-pink">remove_circle</i>';
                    },
                    className: "text-center",
                    targets: 4
                }
            ]
        });
    }
</script>