<a href="#AdicionarGrupo" style="border-radius: 50%; position: fixed !important; bottom: 20px; right: 20px; z-index: 999999998;" class="btn bg-blue btn-circle-lg waves-effect waves-circle waves-float"><i class="material-icons">add</i></a>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Listagem de Grupos de Clientes
                </h2>
            </div>
            <div class="body" ng-controller="grupoController">
                <div class="row form-horizontal">
                    <div class="col-lg-11">
                        <div class="input-group">
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="Pesquisar" ng-model="search">
                            </div>
                            <span class="input-group-addon">
                                <i class="material-icons">search</i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-1 text-right">
                        <div class="btn btn-primary" ng-click="loadGruposList()">
                            <i class="material-icons">refresh</i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <a ng-click="sortType = 'Grp_descricao';sortReverse = !sortReverse">
                                                Descrição
                                                <i ng-show="sortType === 'Grp_descricao' && !sortReverse" class="material-icons md-18">arrow_drop_down</i>
                                                <i ng-show="sortType === 'Grp_descricao' && sortReverse" class="material-icons md-18">arrow_drop_up</i>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="sortType = 'Grp_descontofixo';sortReverse = !sortReverse">
                                                Desconto Fixo (%)
                                                <i ng-show="sortType === 'Grp_descontofixo' && !sortReverse" class="material-icons md-18">arrow_drop_down</i>
                                                <i ng-show="sortType === 'Grp_descontofixo' && sortReverse" class="material-icons md-18">arrow_drop_up</i>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="sortType = 'Grp_status';sortReverse = !sortReverse">
                                                Situação
                                                <i ng-show="sortType === 'Grp_status' && !sortReverse" class="material-icons md-18">arrow_drop_down</i>
                                                <i ng-show="sortType === 'Grp_status' && sortReverse" class="material-icons md-18">arrow_drop_up</i>
                                            </a>
                                        </th>
                                        <th class="col-button-header">Editar</th>
                                        <th class="col-button-header">Excluir</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="gruposList.length === 0 && http.pendingRequests.length == 0">
                                        <td colspan="1000">Nenhum registro encontrado :(</td>
                                    </tr>
                                    <tr ng-repeat="Sts_grupo in gruposList| orderBy:sortType:sortReverse | filter:search">
                                        <td>{{Sts_grupo.Grp_descricao}}</td>
                                        <td>{{Sts_grupo.Grp_descontofixo}}</td>
                                        <td>{{Sts_grupo.Grp_status == true ? 'Ativo' : 'Inativo'}}</td>
                                        <td class="text-center">
                                            <a href="#EditarGrupo?id={{Sts_grupo.Grp_codigo}}" ng-click="$scope.model = Sts_setor;">
                                                <i class="material-icons col-blue">create</i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a ng-click="delete(Sts_grupo);">
                                                <i class="material-icons col-pink">remove_circle</i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $.AdminBSB.browser.activate();
        $.AdminBSB.leftSideBar.activate();
        $.AdminBSB.rightSideBar.activate();
        $.AdminBSB.navbar.activate();
        $.AdminBSB.dropdownMenu.activate();
        $.AdminBSB.input.activate();
        $.AdminBSB.select.activate();
        $.AdminBSB.search.activate();
    });
</script>