<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Orçamento
                </h2>
            </div>
            <div class="body">
                <form role="form" name="form" ng-submit="save(Sts_orcamento);">
                    <input class="form-control hidden" value="0" ng-model="Sts_orcamento.Orc_codigo" id="orc_codigo">
                    
                    <label for="Orc_data">Data<strong class="text-danger">*</strong></label>
                    <div class="form-group required">
                        <div class="form-line">
                            <input type="date" class="form-control" ng-model="Sts_orcamento.Orc_data" id="Orc_data" ng-model-options="{ timezone: '+0300' }" required>
                        </div>
                    </div>

                    <label for="Orc_numeropedido">Número do Pedido</label>
                    <div class="form-group ">
                        <div class="form-line">
                            <input type="number" class="form-control" ng-model="Sts_orcamento.Orc_numeropedido" id="Orc_numeropedido">
                        </div>
                    </div>

                    <label for="Orc_formapagamento">Forma de Pagamento<strong class="text-danger">*</strong></label>
                    <div class="form-group required">
                        <div class="form-line">
                            <input type="text" class="form-control" ng-model="Sts_orcamento.Orc_formapagamento" id="Orc_formapagamento" required>
                        </div>
                    </div>

                    <label for="Orc_desconto">Desconto</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="number" class="form-control" ng-model="Sts_orcamento.Orc_desconto" id="Orc_desconto">
                        </div>
                    </div>

                    <label for="Orc_situacao">Situação<strong class="text-danger">*</strong></label>
                    <div class="form-group required">
                        <div class="form-line">
                            <select id="pes_situacao" class="form-control show-tick" ng-model="Sts_orcamento.Orc_situacao" required convert-to-bool>
                                <option value="true">Ativo</option>
                                <option value="false">Inativo</option>
                            </select>
                        </div>
                    </div>

                    <label for="Orc_dataentrega">Data de Entrega</label>
                    <div class="form-group required">
                        <div class="form-line">
                            <input type="date" class="form-control" ng-model="Sts_orcamento.Orc_dataentrega" id="Orc_dataentrega" ng-model-options="{ timezone: '+0300' }" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary m-t-15 waves-effect">Salvar</button>
                    <a class="btn btn-default m-t-15 waves-effect" href="#Orcamento">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $.AdminBSB.browser.activate();
        $.AdminBSB.leftSideBar.activate();
        $.AdminBSB.rightSideBar.activate();
        $.AdminBSB.navbar.activate();
        $.AdminBSB.dropdownMenu.activate();
        $.AdminBSB.input.activate();
        $.AdminBSB.select.activate();
        $.AdminBSB.search.activate();
    });
</script>