<a href="#AdicionarOrcamento" style="border-radius: 50%; position: fixed !important; bottom: 20px; right: 20px; z-index: 999999998;" class="btn bg-blue btn-circle-lg waves-effect waves-circle waves-float"><i class="material-icons">add</i></a>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Listagem de Orçamentos
                </h2>
            </div>
            <div class="body" ng-controller="orcamentoController">
                <div class="row form-horizontal">
                    <div class="col-lg-11">
                        <div class="input-group">
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="Pesquisar" ng-model="search">
                            </div>
                            <span class="input-group-addon">
                                <i class="material-icons">search</i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-1 text-right">
                        <div class="btn btn-primary" ng-click="loadOrcamentosList()">
                            <i class="material-icons">refresh</i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <a ng-click="sortType = 'Orc_codigo';sortReverse = !sortReverse">
                                                Código
                                                <i ng-show="sortType === 'Orc_codigo' && !sortReverse" class="material-icons md-18">arrow_drop_down</i>
                                                <i ng-show="sortType === 'Orc_codigo' && sortReverse" class="material-icons md-18">arrow_drop_up</i>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="sortType = 'Orc_data';sortReverse = !sortReverse">
                                                Data
                                                <i ng-show="sortType === 'Orc_data' && !sortReverse" class="material-icons md-18">arrow_drop_down</i>
                                                <i ng-show="sortType === 'Orc_data' && sortReverse" class="material-icons md-18">arrow_drop_up</i>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="sortType = 'Pes_razaosocial';sortReverse = !sortReverse">
                                                Cliente
                                                <i ng-show="sortType === 'Pes_razaosocial' && !sortReverse" class="material-icons md-18">arrow_drop_down</i>
                                                <i ng-show="sortType === 'Pes_razaosocial' && sortReverse" class="material-icons md-18">arrow_drop_up</i>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="sortType = 'Orc_formapagamento';sortReverse = !sortReverse">
                                                Forma de Pagamento
                                                <i ng-show="sortType === 'Orc_formapagamento' && !sortReverse" class="material-icons md-18">arrow_drop_down</i>
                                                <i ng-show="sortType === 'Orc_formapagamento' && sortReverse" class="material-icons md-18">arrow_drop_up</i>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="sortType = 'Orc_desconto';sortReverse = !sortReverse">
                                                Desconto
                                                <i ng-show="sortType === 'Orc_desconto' && !sortReverse" class="material-icons md-18">arrow_drop_down</i>
                                                <i ng-show="sortType === 'Orc_desconto' && sortReverse" class="material-icons md-18">arrow_drop_up</i>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="sortType = 'Orc_situacao';sortReverse = !sortReverse">
                                                Situação
                                                <i ng-show="sortType === 'Orc_situacao' && !sortReverse" class="material-icons md-18">arrow_drop_down</i>
                                                <i ng-show="sortType === 'Orc_situacao' && sortReverse" class="material-icons md-18">arrow_drop_up</i>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="sortType = 'Orc_dataentrega';sortReverse = !sortReverse">
                                                Data da Entrega
                                                <i ng-show="sortType === 'Orc_dataentrega' && !sortReverse" class="material-icons md-18">arrow_drop_down</i>
                                                <i ng-show="sortType === 'Orc_dataentrega' && sortReverse" class="material-icons md-18">arrow_drop_up</i>
                                            </a>
                                        </th>
                                        <th>Produtos</th>
                                        <th class="col-button-header">Editar</th>
                                        <th class="col-button-header">Excluir</th>
                                        <th class="col-button-header">Imprimir</th>
                                        <th class="col-button-header">Gerar O. P.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="orcamentosList.length === 0 && http.pendingRequests.length == 0">
                                        <td colspan="1000">Nenhum registro encontrado :(</td>
                                    </tr>
                                    <tr ng-repeat="Sts_orcamento in orcamentosList| orderBy:sortType:sortReverse | filter:search">
                                        <td>{{Sts_orcamento.Orc_codigo}}</td>
                                        <td>{{Sts_orcamento.Orc_data| date : 'dd/MM/yyyy' : '+0300'}}</td>
                                        <td>{{Sts_orcamento.Sts_pessoa.Pes_razaosocial}}</td>
                                        <td>{{Sts_orcamento.Sts_formapagamento.Frp_descricao}}</td>
                                        <td>{{Sts_orcamento.Orc_desconto + '%'}}</td>
                                        <td>{{Sts_orcamento.Orc_situacao == 'A' ? 'Enviado p/ Produção' : Sts_orcamento.Orc_situacao == 'E' ? 'Em aberto' : 'Cancelado'}}</td>
                                        <td>{{Sts_orcamento.Orc_dataentrega| date : 'dd/MM/yyyy' : '+0300'}}</td>
                                        <td class="text-center">
                                            <a href="#EditarOrcamentoProdutos?id={{Sts_orcamento.Orc_codigo}}" ng-click="$scope.model = Sts_orcamento;">
                                                <i class="material-icons col-blue">assignment</i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href="#EditarOrcamento?id={{Sts_orcamento.Orc_codigo}}" ng-click="$scope.model = Sts_orcamento;">
                                                <i class="material-icons col-blue">create</i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a ng-click="delete(Sts_orcamento);">
                                                <i class="material-icons col-pink">remove_circle</i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a ng-click="printOrcamento(Sts_orcamento);">
                                                <i class="material-icons col-green">print</i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a ng-click="gerarOP(Sts_orcamento);">
                                                <i class="material-icons col-green">insert_chart</i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $.AdminBSB.browser.activate();
        $.AdminBSB.leftSideBar.activate();
        $.AdminBSB.rightSideBar.activate();
        $.AdminBSB.navbar.activate();
        $.AdminBSB.dropdownMenu.activate();
        $.AdminBSB.input.activate();
        $.AdminBSB.select.activate();
        $.AdminBSB.search.activate();
    });
</script>