<a href="#AdicionarProduto" style="border-radius: 50%; position: fixed !important; bottom: 20px; right: 20px; z-index: 99999998;" class="btn bg-blue btn-circle-lg waves-effect waves-circle waves-float"><i class="material-icons">add</i></a>

<!-- Page Loader -->
<div class="page-loader-wrapper" ng-show="http.pendingRequests.length > 0">
    <div class="loader">
        <div class="md-preloader pl-size-md">
            <svg viewbox="0 0 75 75">
                <circle cx="37.5" cy="37.5" r="33.5" class="pl-red" stroke-width="4" />
            </svg>
        </div>
        <p>Aguarde...</p>
    </div>
</div>
<!-- #END# Page Loader -->

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Listagem de Produtos de Venda
                </h2>
            </div>
            <div class="body" ng-controller="produtoController">
                <div class="row form-horizontal">
                    <div class="col-lg-11">
                        <div class="input-group">
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="Pesquisar" ng-model="search">
                            </div>
                            <span class="input-group-addon">
                                <i class="material-icons">search</i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-1 text-right">
                        <div class="btn btn-primary" ng-click="loadProdutosList()">
                            <i class="material-icons">refresh</i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <a ng-click="sortType = 'Pro_codigofabrica';sortReverse = !sortReverse">
                                                Código do Produto
                                                <i ng-show="sortType === 'Pro_codigofabrica' && !sortReverse" class="material-icons md-18">arrow_drop_down</i>
                                                <i ng-show="sortType === 'Pro_codigofabrica' && sortReverse" class="material-icons md-18">arrow_drop_up</i>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="sortType = 'Pro_descricao';sortReverse = !sortReverse">
                                                Descrição
                                                <i ng-show="sortType === 'Pro_descricao' && !sortReverse" class="material-icons md-18">arrow_drop_down</i>
                                                <i ng-show="sortType === 'Pro_descricao' && sortReverse" class="material-icons md-18">arrow_drop_up</i>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="sortType = 'Cor_descricao';sortReverse = !sortReverse">
                                                Cor
                                                <i ng-show="sortType === 'Cor_descricao' && !sortReverse" class="material-icons md-18">arrow_drop_down</i>
                                                <i ng-show="sortType === 'Cor_descricao' && sortReverse" class="material-icons md-18">arrow_drop_up</i>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="sortType = 'Pro_altura';sortReverse = !sortReverse">
                                                Dimensões
                                                <i ng-show="sortType === 'Pro_altura' && !sortReverse" class="material-icons md-18">arrow_drop_down</i>
                                                <i ng-show="sortType === 'Pro_altura' && sortReverse" class="material-icons md-18">arrow_drop_up</i>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="sortType = 'Unm_sigla';sortReverse = !sortReverse">
                                                Unidade de Medida
                                                <i ng-show="sortType === 'Unm_sigla' && !sortReverse" class="material-icons md-18">arrow_drop_down</i>
                                                <i ng-show="sortType === 'Unm_sigla' && sortReverse" class="material-icons md-18">arrow_drop_up</i>
                                            </a>
                                        </th>
                                        <th>
                                            <a ng-click="sortType = 'pro_valorvenda';sortReverse = !sortReverse">
                                                Valor de Venda
                                                <i ng-show="sortType === 'pro_valorvenda' && !sortReverse" class="material-icons md-18">arrow_drop_down</i>
                                                <i ng-show="sortType === 'pro_valorvenda' && sortReverse" class="material-icons md-18">arrow_drop_up</i>
                                            </a>
                                        </th>   
                                        <th>Processos</th>
                                        <th>Estrutura</th>
                                        <th class="col-button-header">Editar</th>
                                        <th class="col-button-header">Excluir</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="produtosList.length === 0 && http.pendingRequests.length == 0">
                                        <td colspan="1000">Nenhum registro encontrado :(</td>
                                    </tr>
                                    <tr ng-repeat="Sts_produto in produtosList| orderBy:sortType:sortReverse | filter:search">
                                        <td>{{Sts_produto.Pro_codigofabrica}}</td>
                                        <td>{{Sts_produto.Pro_descricao}}</td>
                                        <td>{{Sts_produto.Sts_cor.Cor_descricao}}</td>
                                        <td>{{Sts_produto.Pro_altura != '' ? Sts_produto.Pro_altura + 'x' + Sts_produto.Pro_largura + 'x' + Sts_produto.Pro_profundidade : ''}}</td>
                                        <td>{{Sts_produto.Sts_unidademedida.Unm_sigla + ' - ' + Sts_produto.Sts_unidademedida.Unm_descricao}}</td>
                                        <td>{{'R$ ' + Sts_produto.Pro_valorvenda}}</td>
                                        <td class="text-center">
                                            <a href="#EditarProdutoProcessos?id={{Sts_produto.Pro_codigo}}" ng-click="$scope.model = Sts_produto;">
                                                <i class="material-icons col-blue">explore</i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href="#EditarProdutoMateriais?id={{Sts_produto.Pro_codigo}}" ng-click="$scope.model = Sts_produto;">
                                                <i class="material-icons col-blue">flip_to_front</i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href="#EditarProduto?id={{Sts_produto.Pro_codigo}}" ng-click="$scope.model = Sts_produto;">
                                                <i class="material-icons col-blue">create</i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a ng-click="delete(Sts_produto);">
                                                <i class="material-icons col-pink">remove_circle</i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $.AdminBSB.browser.activate();
        $.AdminBSB.leftSideBar.activate();
        $.AdminBSB.rightSideBar.activate();
        $.AdminBSB.navbar.activate();
        $.AdminBSB.dropdownMenu.activate();
        $.AdminBSB.input.activate();
        $.AdminBSB.select.activate();
        $.AdminBSB.search.activate();
    });
</script>